<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <%= t 'actions' %>
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-microphone wow bounceIn text-primary"></i>
                    <h3>
                        <%= t 'service_1' %>
                    </h3>
                    <p class="text-muted">
                        <%= t 'desc_service_1' %>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>
                        <%= t 'service_2' %>
                    </h3>
                    <p class="text-muted">
                        <%= t 'desc_service_2' %>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hand-rock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>
                        <%= t 'service_3' %>
                    </h3>
                    <p class="text-muted">
                        <%= t 'desc_service_3' %>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>
                        <%= t 'service_4' %>
                    </h3>
                    <p class="text-muted">
                        <%= t 'desc_service_4' %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

